---
const url = Astro.url;
const go = url.searchParams.get("go");
---

<h1>Safelink</h1>

<p>DEBUG URL: {url.href}</p>
<p>DEBUG GO: {go}</p>

{go && go !== "null" ? (
  <>
    <p>Link valid, lanjutkan</p>

    <a href={`/safelink/artikel?url=${go}`}>
      <button>Lanjut ke Artikel</button>
    </a>
  </>
) : (
  <>
    <p style="color:red;">Link tidak valid (param kosong)</p>
    <a href="/gen">
      <button>Kembali ke Generator</button>
    </a>
  </>
)}
