---
const go = Astro.url.searchParams.get("go");
---

<html>
  <head>
    <title>Safelink</title>
  </head>
  <body>
    <h1>Artikel Pembuka</h1>

    {go ? (
      <>
        <p>
          Ini halaman safelink pertama. Silakan lanjut ke halaman berikutnya.
        </p>

        <a href={`/safelink/artikel?url=${go}`}>
          <button>Lanjut ke Artikel</button>
        </a>
      </>
    ) : (
      <>
        <p>Link tidak valid.</p>
        <a href="/gen">
          <button>Kembali ke Generator</button>
        </a>
      </>
    )}
  </body>
</html>
