---
const go = Astro.url.searchParams.get("go");

if (!go) {
  return Astro.redirect("/gen");
}
---

<html>
  <head>
    <title>Safelink</title>
  </head>
  <body>
    <h1>Artikel Pembuka</h1>

    <p>
      Ini halaman safelink pertama. Biasanya diisi artikel atau konten biar
      terlihat natural.
    </p>

    <p>
      Silakan klik tombol di bawah untuk melanjutkan ke halaman berikutnya.
    </p>

    <a href={`/safelink/artikel?url=${go}`}>
      <button>Lanjut ke Artikel</button>
    </a>
  </body>
</html>
